{% extends "wagtailadmin/generic/edit.html" %}
{% load wagtailusers_tags wagtailadmin_tags i18n %}

{% block fields %}
    {% panel id="name" heading=form.name.label id_for_label=form.name.id_for_label is_required=True %}
        {% formattedfield field=form.name show_label=False %}
    {% endpanel %}

    <div class="w-form-width">
        {% block extra_fields %}{% endblock extra_fields %}

        {% format_permissions permission_bound_field=form.permissions %}

        {% for panel in permission_panels %}
            {{ panel.as_admin_panel }}
        {% endfor %}
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {% include "wagtailusers/groups/includes/group_form_js.html" %}
{% endblock %}
